{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{SITE_TITLE}} | {% block title %}Home{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

        {% block metatags %}{% endblock %}


        <link rel="preload" as="style" href="{% static 'vendor/bootstrap-4.2.1/css/bootstrap.min.css' %}">
        <link rel="preload" as="style" href="{% static 'vendor/font-awesome-5.9.0/all.min.css' %}">
        <link rel="preload" as="style" href="{% static 'main.css' %}">

        <link rel="preload" as="script" href="{% static 'vendor/jquery-3.4.1/jquery.min.js' %}">
        <link rel="preload" as="script" href="{% static 'vendor/popper-1.14.3/popper.min.js' %}">
        <link rel="preload" as="script" href="{% static 'vendor/bootstrap-4.2.1/js/bootstrap.min.js' %}">

        {% block preloads %}{% endblock %}


        <link rel="stylesheet" href="{% static 'vendor/bootstrap-4.2.1/css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'vendor/font-awesome-5.9.0/all.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'main.css' %}">

        <script src="{% static 'vendor/jquery-3.4.1/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/popper-1.14.3/popper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'vendor/bootstrap-4.2.1/js/bootstrap.min.js' %}" type="text/javascript"></script>

        {% block head %}{% endblock %}

    </head>

    <body>
        {% block beforebody %}
        {% endblock %}

        <div class="main-content">
        {% block main %}{% endblock %}
        </div>

        {% block footer %}
        <footer class="d-flex"><div class="m-auto">Ingeniería Tucano © 2020</div></footer>
        {% endblock %}

        {% block bodyafter %}
        {% endblock %}
    </body>
</html>