{% extends 'core/base.html' %}
{% block title %}Home{% endblock title %}
{% block main %}
<a href="{% url 'parking:new_camera' %}">NUEVA CAMARA</a>
{% for cams in object_list %}

<div class="card">

	<div class="card-header">
		<span class="font-weight-bold">{{ cams.url }}</span> &middot;
		<span class="text-muted"> {{ cams.geopoint }}</span>
	</div>


		<a href="{% url 'parking:manage_spots' cams.id %}">configurar zonas</a> 
		| <a href="{% url 'parking:delete_camera' cams.id %}">Eliminar cámara</a>
		
</div>

<br />
{% endfor %}
{% endblock main %}
