{% extends 'core/base.html' %}
{% load static %}

{% block title %}Busca tu celda{% endblock %}

{% block head %}
<link rel="preload" as="style" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}">
<link rel="preload" as="script" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}">

<link rel="stylesheet" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}" type="text/css">
<script src="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div id='map' style="height:calc(100vh - 65px);"></div>
{% endblock %}

{% block bodyafter %}
<script>
var map_loaded = false
var zones_timer = undefined
var request_counter = 1
var cameras = {}
var camera_information = {}


mapboxgl.accessToken = '{{MAP_API}}'
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-75.378672, 6.148355],
    zoom: 16
})


document.addEventListener('DOMContentLoaded', function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            map.setCenter([
                position.coords.longitude,
                position.coords.latitude
            ])
        })
    } else {
        alert("Geolocation no disponible")
    }
})


map.on('load', function () {
    map_loaded = true
    zones_timer = setInterval(fetchZones, {{FETCH_ZONES_INTERVAL}})
    fetchZones()
    GetCameraPosition()
})

function GetCameraPosition()
{
    $.getJSON('{% url "cameras:get_camera_position" %}').done( 
        function(cams) {
            console.log(cams.cameras)
            camera_information=cams
            cams.cameras.forEach(function (cam) {

                var marker = undefined
                var marker_elem = undefined
                var marker_subtitle = undefined
                var popup = undefined

                if (cam.shortid in cameras) {
                    marker = cameras[cam.shortid]['marker']
                    marker_elem = cameras[cam.shortid]['marker_elem']
                    marker_subtitle = cameras[cam.shortid]['marker_subtitle']
                    popup = cameras[cam.shortid]['popup']
                } else {
                    marker_elem = document.createElement('div')
                    marker_elem.className = 'camera_marker'

                    marker_subtitle = document.createElement('div')
                    marker_subtitle.className = 'marker_subtitle'
                    marker_elem.appendChild(marker_subtitle)
                    console.log(cam.coords)
                    popup = new mapboxgl.Popup({offset: 25})
                    marker = new mapboxgl.Marker(marker_elem)
                        .setLngLat(cam.coords)
                        .setPopup(popup)
                        .addTo(map)

                    cameras[cam.shortid] = {marker, marker_elem, marker_subtitle, popup}
                }
            })
        }).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )
}
function fetchZones() {
    if (!map_loaded) return

    if (++request_counter > {{MAX_ZONE_REQUESTS}})
        clearInterval(zones_timer)

    const map_center = map.getCenter()
    const data = {
        latitude: map_center.lat,
        longitude: map_center.lng
    }
/*
    $.getJSON('{% url "parking:zones" %}', data).done(updateCameras).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )*/
    $.getJSON('{% url "pedestrian_detector:detection" %}', data).done(updateCameras).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )
}


function updateCameras(cams) {
    console.log('CAMS', cams)

    cams.forEach(function (cam) {
        var marker = undefined
        var marker_elem = undefined
        var marker_subtitle = undefined
        var popup = undefined

        if (cam.shortid in cameras) {
            marker = cameras[cam.shortid]['marker']
            marker_elem = cameras[cam.shortid]['marker_elem']
            marker_subtitle = cameras[cam.shortid]['marker_subtitle']
            popup = cameras[cam.shortid]['popup']
        } else {
            marker_elem = document.createElement('div')
            marker_elem.className = 'camera_marker'

            marker_subtitle = document.createElement('div')
            marker_subtitle.className = 'marker_subtitle'
            marker_elem.appendChild(marker_subtitle)
            console.log(cam.coords)
            popup = new mapboxgl.Popup({offset: 25})
            marker = new mapboxgl.Marker(marker_elem)
                .setLngLat(cam.coords)
                .setPopup(popup)
                .addTo(map)

            cameras[cam.shortid] = {marker, marker_elem, marker_subtitle, popup}
        }
        if(cam.model_detector=="PR"){
            marker_elem.style.backgroundColor = cam.free_spots > 0 ? "#0f04" : "#f004"
            marker_subtitle.innerText = (cam.total_spots - cam.free_spots) + '/' + cam.total_spots
        }
        popup.setHTML('<div>'+
  '<p>FREE SPOTS: </p>'+
  '<img src="data:image/jpeg;base64,'+cam.frame_base64+'" width="800" height="400" alt="DETECTION" />'+'</div>')
    })
}

</script>
{% endblock %}
