{% extends 'core/base.html' %}
{% load static %}

{% block title %}Busca tu celda{% endblock %}

{% block preloads %}
<link rel="preload" as="style" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}">
<link rel="preload" as="script" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}">
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}" type="text/css">
<script src="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div id='map' style="position:absolute; top:0; bottom:0; width:100%;"></div>
{% endblock %}

{% block bodyafter %}
<script>
var map_loaded = false
var zones_timer = undefined
var request_counter = 1


mapboxgl.accessToken = '{{MAP_API}}'
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-75.378672, 6.148355],
    zoom: 18
})


document.addEventListener('DOMContentLoaded', function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            map.setCenter([
                position.coords.longitude,
                position.coords.latitude
            ])
        })
    } else {
        alert("Geolocation no disponible")
    }
})


map.on('load', function () {
    // map.addSource('spots', {
    //     type: 'geojson',
    //     data: {
    //         "type": "FeatureCollection",
    //         "features": []
    //     }
    // })
    // map.addLayer({
    //     id: "free_spots",
    //     type: "circle",
    //     source: "spots",
    //     paint: {
    //         "circle-color": {type: 'identity', property: 'color'},
    //         "circle-radius": 5,
    //         "circle-stroke-width": 1,
    //         "circle-stroke-color": "#fff"
    //     }
    // })
    map_loaded = true
    zones_timer = setInterval(fetchZones, {{FETCH_ZONES_INTERVAL}})
    fetchZones()
})


function fetchZones() {
    if (!map_loaded) return

    if (++request_counter >= {{MAX_ZONE_REQUESTS}})
        clearInterval(zones_timer)

    const map_center = map.getCenter()
    const data = {
        latitude: map_center.lat,
        longitude: map_center.lng
    }
    $.getJSON('{% url "parking:zones" %}', data).done(updateZones).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )
}


function updateZones(zones) {
    console.log('zones', zones)
    // TODO Update map source/layer with fetched data

    // var spot_features = []
    // spots.forEach(function (spot) {
    //     spot_features.push({
    //         "type": "Feature",
    //         "geometry": {
    //             "type": "Point",
    //             "coordinates": spot.coords
    //         },
    //         "properties": {
    //             "color": spot.free ? "#0f0" : "#f00",
    //         }
    //     })
    // })
    // map.getSource('spots').setData({
    //     "type": "FeatureCollection",
    //     "features": spot_features
    // })
}

</script>
{% endblock %}
