{% extends 'core/base.html' %}
{% load static %}

{% block title %}Busca tu celda{% endblock %}

{% block preloads %}
<link rel="preload" as="style" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}">
<link rel="preload" as="script" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}">
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.css' %}" type="text/css">
<script src="{% static 'vendor/mapbox-gl-1.4.1/mapbox-gl.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
<div id='map' style="height:100%; width:100%;"></div>
{% endblock %}

{% block bodyafter %}
<script>
var map_loaded = false
var zones_timer = undefined
var request_counter = 1


mapboxgl.accessToken = '{{MAP_API}}'
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-75.378672, 6.148355],
    zoom: 18
})


document.addEventListener('DOMContentLoaded', function() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            map.setCenter([
                position.coords.longitude,
                position.coords.latitude
            ])
        })
    } else {
        alert("Geolocation no disponible")
    }
})


map.on('load', function () {
    map_loaded = true
    zones_timer = setInterval(fetchZones, {{FETCH_ZONES_INTERVAL}})
    fetchZones()
})


function fetchZones() {
    if (!map_loaded) return

    if (++request_counter >= {{MAX_ZONE_REQUESTS}})
        clearInterval(zones_timer)

    const map_center = map.getCenter()
    const data = {
        latitude: map_center.lat,
        longitude: map_center.lng
    }
    $.getJSON('{% url "parking:zones" %}', data).done(updateCameras).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )
}


function updateCameras(cams) {
    console.log('CAMS', cams)

    var cam_features = []
    cams.forEach(function (cam) {
        var mrkr_id = 'marker_' + cam.shortid
        var marker = document.getElementById(mrkr_id)
        if (!marker) {
            marker = document.createElement('div')
            marker.id = mrkr_id
            marker.className = 'camera_marker'
            marker_subtitle = document.createElement('div')
            marker_subtitle.id = 'subtitle_' + mrkr_id
            marker_subtitle.className = 'marker_subtitle'
            marker.appendChild(marker_subtitle)
        }
        new mapboxgl.Marker(marker).setLngLat(cam.coords).addTo(map)

        marker_subtitle = document.getElementById('subtitle_' + mrkr_id)
        marker_subtitle.innerText = (cam.total_spots - cam.free_spots) + '/' + cam.total_spots
        marker.style.backgroundColor = cam.free_spots > 0 ? "#0f04" : "#f004"
    })
}

</script>
{% endblock %}
