{% extends 'base.html' %}

{% block title %}Busca tu celda{% endblock %}

{% block head %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block main %}
<div id='map' style="position:absolute; top:0; bottom:0; width:100%;"></div>
{% endblock %}

{% block bodyafter %}
<script>
var map_loaded = false
var spots_timer = undefined
var request_counter = 1

mapboxgl.accessToken = '{{MAP_API}}'
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-75.375977, 6.150244],
    zoom: 14
})

map.on('load', function () {
    map.addSource('spots', {
        type: 'geojson',
        data: {
            "type": "FeatureCollection",
            "features": []
        }
    })
    map.addLayer({
        id: "free_spots",
        type: "circle",
        source: "spots",
        paint: {
            "circle-color": {type: 'identity', property: 'color'},
            "circle-radius": 5,
            "circle-stroke-width": 1,
            "circle-stroke-color": "#fff"
        }
    })
    map_loaded = true
    spots_timer = setInterval(fetchSpots, {{FETCH_SPOTS_INTERVAL}})
    fetchSpots()
})

function updateSpots(spots) {
    if (!map_loaded) return

    if (++request_counter >= {{MAX_SPOT_REQUESTS}})
        clearInterval(spots_timer)

    var spot_features = []
    spots.forEach(function (spot) {
        spot_features.push({
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": spot.coords
            },
            "properties": {
                "color": spot.free ? "#0f0" : "#f00",
            }
        })
    })
    map.getSource('spots').setData({
        "type": "FeatureCollection",
        "features": spot_features
    })
}

function fetchSpots() {
    $.getJSON('/spots').done(updateSpots).fail(
        function(response, textStatus, error) {
            console.log(response, textStatus, error)
        }
    )
}

</script>
{% endblock %}
